/*
  Hurakan
  File:pages.css
  Author: Nancy Tran
  Date Created: 05 Mar 2019
  Date Moditifed: 22 Apr 2019
*/

html {
    margin: 3em auto;
    font-family: 'IBM Plex Sans', sans-serif !important;
    font-weight: normal;
    background-color: #FEFFFD;
    position: relative;
    color: #2C4E5F;
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Futura', 'IBM Plex Sans', sans-serif;
    text-align: center;
    padding-top: 20px;
    font-size: 2em;
    font-weight: bolder;
}

.ml16 {
    color: inherit;
    margin-top: 2.5em;
    padding: 20px 0;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    overflow: hidden;
    font-weight: bolder;
    text-align: center;
}

.ml16 .letter {
    display: inline-block;
    line-height: 1em;
}

.subtitle {
    font-weight: normal;
    text-align: center;
    padding: 0 4em 4em 4em;
}

.sub {
    text-align: right;
    font-size: 45px !important;
    font-weight: 300 !important;
}

h3 {
    text-align: right;
}

h4 {
    padding: 1em 0;
}

li {
    list-style: none;
    padding: 10px;
    text-decoration: none;
}

body {
    font-size: 18px;
}

p {
    color: black;
    margin: 0;
    font-weight: lighter;
    text-align: left;
}

a {
    color: black !important;
    border-bottom: 2px solid #0C9DAB;
    text-decoration: none;
}

a:hover {
    color: #0C9DAB !important;
    text-decoration: none !important;
    border-bottom: 2px solid #0C9DAB;
    font-weight: bold;
}

.navbar {
    margin: 1em 0 2em 0;
}

.nav-item {
    color: #2C4E5F;
    letter-spacing: 1px;
    text-decoration: underline wavy;
    border: none;
    padding: 0 20px 0 30px;
    font-family: Futura, sans-serif;
    font-size: smaller;
    font-weight: bold;
}

.nav-item:hover {
    color: #608B9B;
    text-decoration: underline wavy;
    border: none;
    font-weight: bolder;
}

.not-link {
    border: none;
    text-decoration: none;
    color: inherit;
    font-weight: lighter !important;
}

.not-link:hover {
    border: none;
    text-decoration: none;
    color: inherit !important;
    font-weight: lighter;
}

.block {
    margin: 0 auto;
    padding: 0 0 6vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
}

.block p {
    margin: 0 0 .4rem 0;
    padding: 0.5rem 0;
}

.indent {
    left: 30px;
}

#about {
    columns: 3;
    padding: 70px;
}

.pic {
    padding: 20px;
    text-align: center;
}

.description {
    text-align: justify;
    font-size: 1.2em;
}

.sources p {
    font-size: .9em;
    line-height: 1.4em;
}

.sources h4 {
    text-align: right;
    padding: 0 0 .5em 0;
}

.blockquote {
    background-color: #2C4E5F;
    color: white;
    padding: 2em;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    /* margin-top: 2em; */
    /* margin-bottom: 6em; */
}

.row {
    margin-left: 12em;
    margin-right: 12em;
    margin-bottom: 5em;
    margin-top: 2em;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
    align-self: right;
}

img {
    margin: 2em auto;
    text-align: center;
}

section,
footer {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    height: 80vh;
}

section .wrap,
footer .wrap {
    /* width: 100%; */
    padding: 1em;
    box-sizing: border-box;
}

#faq {
    height: auto;
    padding-bottom: 10em;
    padding-top: 1em;
}

#faq .wrap {
    max-width: 1200px;
    padding: 1em 2.5em;
    width: 100%;
}

#faq h2 {
    padding-bottom: .5em;
    text-align: center;
}

#faq .content {
    display: flex;
    flex-flow: wrap;
    margin: 2em 2em 0 2em;
}

#faq .content .column {
    width: 50%;
    box-sizing: border-box;
    padding: 0 0.6em;
}

#faq .content .pair {
    margin-bottom: 2em;
}

#faq .content .pair h5 {
    cursor: pointer;
    text-align: left;
    /* text-transform: uppercase; */
    font-weight: normal;
    margin: 0 0 1em 0;
    letter-spacing: 0.05em;
}

#faq .content .pair h5:after {
    content: "";
    display: inline-block;
    height: 0;
    width: 0;
    border: 0 solid transparent;
    border-width: 0.3em 0.5em;
    border-left-color: #FF8984;
    margin-left: 0.4em;
    transform: rotate(90deg);
    transform-origin: 25% 50%;
    transition: 0.1s ease-in-out transform;
}

#faq .content .pair.collapsed h5:after {
    transform: none;
}

#faq .content .pair.collapsed p {
    display: none;
}

footer {
    font-family: inherit;
    padding: 100px 30px 10px 30px;
    height: 300px;
    line-height: 30px;
}

footer h5 {
    font-family: 'Futura', 'IBM Plex Sans';
}

footer li {
    padding: 0;
}

footer a {
    color: inherit;
    font-style: italic;
    list-style: none;
    position: relative;
    margin: 1px 0 1px 15px;
    padding: 2px 0 2px 0;
    border-bottom: 2px solid #0C9DAB;
}

footer a:hover {
    font-weight: bolder;
    text-decoration: none;
    color: #0C9DAB;
}

.nav {
    position: relative;
    width: 8em;
    margin: 0 0 0 3em;
}

.nav__item {
    line-height: 1;
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    letter-spacing: 0;
    color: currentColor;
    border: 0;
    background: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.nav__item:focus {
    outline: none;
}

.nav--beca {
    /* position: absolute; */
    position: fixed;
    top: 50%;
    left: 0;
    margin: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}

.nav--beca .nav__item {
    width: 7em;
    height: 1.5em;
    font-size: smaller;
}

.nav--beca .nav__item::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 50%;
    height: 2px;
    margin: -1px 0 0 0;
    opacity: 0.5;
    background: #000;
    -webkit-transform: scale3d(0.5, 1, 1);
    transform: scale3d(0.5, 1, 1);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.nav--beca .nav__item:not(.nav__item--current):focus::before,
.nav--beca .nav__item:not(.nav__item--current):hover::before {
    opacity: 1;
    -webkit-transform: scale3d(0.75, 1, 1);
    transform: scale3d(0.75, 1, 1);
}

.nav--beca .nav__item--current::before {
    opacity: 1;
    -webkit-transform: scale3d(2, 1, 1);
    transform: scale3d(2, 1, 1);
}

.nav--beca .nav__item-title {
    font-size: 1em;
    font-weight: bold;
    display: block;
    overflow: hidden;
    margin: -1.15em 0 0 1.7em;
    text-align: left;
    white-space: nowrap;
    pointer-events: none;
}

.nav--beca .nav__item-title span {
    display: block;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.nav--beca .nav__item--current .nav__item-title span {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}


/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap

Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {}


/*  Extra large devices (large desktops, 1200px and up) */


/* @media (min-width: 1200px) {} */